<%- include('src/up') %>

      <!-- Contenido -->
      <div class="col-7_sm-12">
        <h2>Error</h2>
        <div class="alert alert-danger"><%= errorMessage %></div>
      </div>
      
<%- include('src/down') %>