<%- include('src/up') %>

      <!-- Contenido -->
      <div class="col-7_sm-12">
        <div class="grid" style="justify-content: center;">
          <h1>Inteligencia Artificial en tu WhatsApp</h1>
          <img src="/lib/logo" alt="banner">
          <br />
          <h3 style="line-height: 1.5;">DrkBot es un innovador chatbot diseñado para llevar la conversación a un nivel superior en WhatsApp. No se trata solo de un chatbot común, DrkBot puede crear imágenes sorprendentes a partir de tus palabras, identificar canciones a través de mensajes de audio y transformar imágenes o GIFs que le envíes en divertidos stickers personalizados. Prepárate para una experiencia de chat única con DrkBot en WhatsApp, donde la creatividad y la diversión se unen en cada conversación.</h3>
        </div>
      </div>
      
 <%- include('src/down') %>