<a href="/bot" class="logo"><%= botName %></a>
 
<ul class="navlist">
  <li><a href="/">Home</a></li>
  <li><a href="#">About</a></li>
  <li><a href="/contacto">Contact</a></li>
  <li><a href="/login">Perfil</a></li>
</ul>

<div class="bx bx-menu" id="menu-icon"></div>