<% if (sesionIniciada) { %>
    <span class="act"> [  <a href="/usuario">Dashboard</a> | <a href="/logout"><span class="status-false">Logout</span></a>  ] <span>
<% } else { %>
    <span class="act"> [ <a href="/login"><span class="status-false">Ingresa</span></a> ] </span>
<% } %>
